<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:values.properties"/>
	<!-- values.properties dosyasini okuyabilmek icin -->
	
	<bean id="database" class="com.spring.dao.MySqlCustomerDAO">
	<constructor-arg name="connectionString" value="${can.connectionString}"/>
	<constructor-arg name="year" value="${can.year}"/>
	<constructor-arg name="email" value="${can.email}"/>
	<!-- constructor arg ile deger atama -->
	<!-- ${} bunlarin arasina field'laarin adlarini yazdik ve dinamik olarak properties dosyasindan deger okuduk-->
	<!--  
	value yerine ${} isaretlerini kullandik aralarina yazdigimiz isimler values.properties dosyasindan gelmektedir.
  	deger atamayi setter ile yaptik istersen constructor ilede yapabilirdin 
  	-->
	</bean>

	<bean id="service" class="com.spring.business.CustomerManager">
	<constructor-arg ref="database"/>
	<!-- constructor arg ile manager claas'ini new'leme -->
	</bean>
</beans>